casper.options.verbose = true;

var servers = {
	'drupal' : 'http://xx.xx.xx.xx',
	'wordpress' : 'http://xx.xx.xx.xx',
	'apache' : 'http://xx.xx.xx.xx',
	'nginx' : 'http://xx.xx.xx.xx'
}

var passwords = {
	'drupal' : 'amber',
	'wordpress' : 'amber',
}

var web_server_pages = {
	'apache' : ['/'],
	'nginx' : ['/']
}

var keys = {
	'perma' : 'PERMA_ACCESS_KEY',
	'aws_access' : 'AWS_ACCESS_KEY',
	'aws_secret' : 'AWS_SECRET_KEY',
	'aws_bucket' : 'AWS_S3_BUCKET_NAME',
}

/* Utility functions */

function getServer(platform) {
	return servers[platform];
}

function getAdminPassword(platform) {
	return passwords[platform];
}
